.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    background-color: #EAE9DF;
  }
  
  .information,
  .contact,
  .newsletter,
  .socialMedia {
    flex: 1;
  }
  
  .information ul,
  .contact p {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .information li,
  .contact p {
    margin-bottom: 0.5rem;
  }
  
  .information a,
  .contact a {
    color: #333;
    text-decoration: none;
  }
  
  .information a:hover,
  .contact a:hover {
    text-decoration: underline;
  }