.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FFFFFF;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav li {
    font-weight: bold;
  }
  
  .nav a {
    color: #000000;
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }

  .nav link img {
    margin-left: 3rem;
  }