.heroContainer {
    position: relative;
    padding: 3rem;
  }
  
  .heroText {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    color: #FFFFFF;
    z-index: 10;
    padding: 5rem;
    padding-top: 10rem;
  }
  
  .heroText button {
    background-color: #535E48;
    color: #FFFFFF;
    padding: 0.5rem 3rem;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .heroImageContainer {
    position: absolute;
    left: 0;
    width: 100%;
    
  }
  
  .heroImageContainer Image {
    width: 100%;
    padding-top: 3rem;
  }